<head>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand" rel="stylesheet">
</head>

<h1>Bookmark Manager</h1>
<form class="" action="/bookmarks" method="get">
  <input type="submit" name="bookmarks" value="Bookmarks">
</form>
<form class="" action="/bookmarks/new" method="get">
  <input type="submit" name="" value="Add new">
</form>
